	@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Sans+KR:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

#wrap{
    width: 1200px;
    margin: 0 auto;
}
a{
    color: black;
    text-decoration: none;
}

header{
    padding: 40px 0;
    text-align: center;
}

.nav1{
    display: flex;
    margin-left: 150px;
    list-style: none;
}
.nav1 a {
    padding: 15px;
    font-size: 0.5em;
}
.nav2{
    display: flex;
    align-items: center;
    padding: 0px 400px;
    list-style: none;
    font-size: 0.8em;
}
.nav2 li{
    margin-left: 80px;
}

#nav_button{
    margin-bottom: 30px;
}

.serch2{
    text-decoration: none;
    float: right;
    margin-top: -20px;
    margin-right: 300px;
    
}
.serch2 img{
    width: 25px;
}
.serch_li{
    list-style: none;
}

.center_wrap{
    width: 1000px;
    background-color: white;
    margin: 30px auto;
}
.center_wrap h2{
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}

th{
    width: 150px;
    padding: 10px;
    text-align: left;
}
td{
    width: 900px;
}
th, td{
    border-bottom: 1px solid #ddd;
    padding: 5px;
}

table{
    padding: 20px;
    margin: 0 20px;
}
table input[type="text"], table input[type="password"]{
    padding: 6px 10px;
    border: 1px solid #bbb;
    
}

#userId{
    margin: 5px 0px;
}

.add{
    width: 70px;
}
.add1, .add2{
    display: block;
    margin-top: 10px;
    width: 250px;
}

.ad_img{
    width: 80px;
    height: 30px;
    margin-left: 5px;
}

.add_wrap{
    display: flex;
}

table span{
    font-size: 0.5em;
}
select{
    padding: 5px 20px;
    border: 1px solid #bbb;
}
.p_size{
    width: 100px;
}

.s_size{
    text-align: center;
}
.s_size input[type="submit"]{
    background-color: #000;
    padding: 10px 60px;
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}

footer{
    padding: 10px 30px;
    text-align: center;
}
footer h2{
    font-size: 1.0em;
    margin-bottom: 10px;

}

footer p{
    font-size: 0.5em;
    margin-bottom: 5px;
}

#btnAdd{
    background-image: url('../img/우편번호.gif');
    width: 80px;
    height: 26px;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-left: 10px;
}