@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Noto+Sans+KR:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

#wrap{
    width: 1200px;
    margin: 0 auto;
}
a{
    color: black;
    text-decoration: none;
}

header{
    padding: 40px 0;
    text-align: center;
}

.nav1{
    display: flex;
    margin-left: 50px;
    list-style: none;
}
.nav1 a {
    padding: 15px;
    font-size: 0.5em;
}
.nav2{
    display: flex;
    align-items: center;
    padding: 0px 400px;
    list-style: none;
    font-size: 0.8em;
}
.nav2 li{
    margin-left: 80px;
}

#nav_button{
    margin-bottom: 30px;
}

.serch{
    float: right;
    margin-right: 100px;
    text-decoration: none;
}
.serch2{
    text-decoration: none;
    float: right;
    margin-top: -5px;
    margin-right: 5px;
}
.serch2 img{
    width: 25px;
}

.serch_li{
    list-style: none;
}

html, body {
    position: relative;
    height: 100%;
}

html, body {
    position: relative;
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

li:hover{
    text-decoration: underline;
}

/* 센터 시작 */
.top_main{
    width: 1400px;
}
.top_main img{
    width: 800px;
    height: 600px;
    margin: 20px 200px;
    padding: 30px;
}


.center_a{
    width: 1200px;
    margin: 50px 150px;
    padding: 10px;
    font-size: 0.7em;
}

.center_b{
    width: 300px;
    text-align: center;
    display: inline-block;
    margin-right: 50px;
}

.center_a li:hover{
    text-decoration: none;
}

.center_a img{
    width: 300px;
}

.center_b ul li{
    list-style: none;
}


/* 하단시작 */
footer{
    padding: 10px 30px;
    text-align: center;
}
footer h2{
    font-size: 1.0em;
    margin-bottom: 10px;

}

footer p{
    font-size: 0.5em;
    margin-bottom: 5px;
}

